name: Deployment to S3
on:
  push:
    branches:
      - main
jobs:
    deploy-to-s3:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4
            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v2
              with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  aws-region: ${{ secrets.AWS_REGION }}
            - name: Sync files to S3
              run: echo "This is job for Deployment ${{ secrets.AWS_S3_BUCKET_NAME }}"